*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orangeColor: #FE481C;
    --yellowColor: #FFD200;
    --blackColor: #262626;
    --grayColor: #737997;
}

.custom-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.custom-card{
    background-color: #ECF1FD;
    border: 1px solid black;
}

.card-height {
    min-height: calc(100dvh / 4);
}

.card-width {
    max-width: clamp(30rem, 10rem, 26rem);
}