*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --orangeColor: #FE481C;
    --yellowColor: #FFD200;
    --blackColor: #262626;
    --grayColor: #737997;
}

body{
    scroll-margin-top: 5rem;
    overflow-x: hidden;
}

/* NavBar Styling */

  .custom-btn{
    padding: 0.45rem 1rem;
    border: none;
    background-color: var(--blackColor);
    color: #fff;
    border-radius: 3px;
  }

  nav{
    position: fixed;
  background-color: #fff;
  z-index: 1;
  }

    .nav-links{
        padding-inline: 1rem;
        text-decoration: none;
        color: #000;
    }

    hr{
        width: 84%;
        margin: auto;
    }


    .px-6{
      padding-right: 2rem;
    }

    nav .nav-links.router-link-exact-active{
      color: #fff;
      background-color: var(--orangeColor);
      border-radius: 3px;
      padding: .5rem 1rem;
    }

    /* General Styling */

.custom-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.custom-card{
    background-color: #ECF1FD;
    border: 1px solid black;
}

.card-height {
    min-height: calc(100dvh / 4);
}

.card-width {
    max-width: clamp(30rem, 10rem, 26rem);
}

/* Home Intro Styling */

.intro-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, auto);
  position: relative;
  min-height: 100dvh;
}

.icons {
  font-size: 2rem;
}


button {
  padding: 1rem 2.5rem;
  border: none;
}

.read-more-btn {
    padding: 1rem 2.5rem;
    border: none;
    background-color: #fe481c;
    color: #fff;
  }

.contact-btn {
  background-color: #fe481c;
  color: #fff;
}

.project-btn {
  margin-left: 1rem;
  background-color: transparent;
  color: #000;
  text-decoration: none;
  font-weight: lighter;
}

img {
  max-width: 100%;
  display: block;
}

.intro-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  color: #000;
  grid-column: 2 / 6;
  grid-row: 2 / 8;
  font-weight: bolder;
}

.intro-h2 {
  font-size: calc(4rem + 6 * ((100vw - 320px) / 680));
}

.intro-text {
  font-size: calc(.2rem + 6 * ((100vw - 320px) / 680));
  font-weight: lighter;
}

.intro-text::-webkit-scrollbar{
  display: none;
}

.intro-mobile {
  display: none;
}

.intro-bg {
  grid-column: 1 / 6;
  grid-row: 8 / -1;
  background-color: #262626;
}

.intro-img {
  grid-column: 6 / 9;
  grid-row: 1 / -1;
  background: url(https://i.postimg.cc/y8f3TqgG/C-LWEDDING-1170.jpg) center no-repeat;
  background-size: cover;
  filter: grayscale();
  animation-name: fadeImg;
  animation-duration: 1050ms;
  animation-fill-mode: forwards;
}

@keyframes fadeImg {
  0%{
    filter: grayscale();
  }
  50%{
    filter: grayscale();
  }
  100%{
    filter: none;
  }
}

.mobile-title{
  display: none;
}

@media only screen and (width < 65rem) {
  .intro-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .intro-h2{
    display: none;
  }

  .mobile-title{
    display: block;
    font-size: calc(4rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    padding-bottom: 3rem;
  }

  .intro-title {
    grid-column: 1 / 4;
    text-align: center;
  }

  .intro-img{
    display: none;
  }

  .intro-mobile {
    display: none;
  }

  .intro-text{
    display: none;
  }
}

.intro-h2{
  animation-name: fadeIn;
  animation-duration: 1070ms;
  overflow: hidden;
}

span{
  color: #000;
  animation-name: fadeColor;
  animation-duration: 1070ms;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
}

@keyframes fadeColor {
  0%{
    color: #000;
  }
  50%{
    color: #000;
  }
  100%{
    color: var(--orangeColor);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media only screen and (max-width: 65rem) {
  .intro-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .intro-h2{
    display: none;
  }

  .mobile-title{
    display: block;
    font-size: calc(4rem + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    padding-bottom: 3rem;
  }

  .intro-title {
    grid-column: 1 / 4;
    text-align: center;
  }

  .intro-img{
    display: none;
  }

  .intro-mobile {
    display: none;
  }

  .intro-text{
    display: none;
  }
}